package_dev/
*.csv
*.txt
*.html
final_egret_v1/annotation/
final_egret_v1/ase/
final_egret_v1/caqtl/
final_egret_v1/chipseq/
final_egret_v1/figures/
final_egret_v1/genotype_data/
final_egret_v1/inputs/
final_egret_v1/motifs/
final_egret_v1/outputs/
final_egret_v1/pop_data/
final_egret_v1/prior/
final_egret_v1/tables/
final_egret_v1/viz/
*.tex
*.pdf
final_egret_v1_banovich/alpaca/
final_egret_v1_banovich/data/
final_egret_v1_banovich/figures/
final_egret_v1_banovich/go/
final_egret_v1_banovich/gwas/
final_egret_v1_banovich/inputs/
final_egret_v1_banovich/outputs/
final_egret_v1_banovich/tables/
